/* nav.css */
.navbar a,
.navbar summary {
  background: none !important;
  color: inherit !important;
}

.navbar a:hover,
.navbar summary:hover,
.navbar li:hover {
  background: none !important;
  color: inherit !important;
}

.navbar li:focus,
.navbar li:focus-within {
  background: none !important;
}

.button{
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}



